.hero {
  align-items: center;
  display: flex;
  margin-top: 60px;
}

.hero img {
  width: 40%;
  max-width: 100%;
  height: 100%;
  transition: transform .1s;
  border-radius: 40px;
  margin-right: 40px;
}

.hero-info,
.about-me {
  margin-top: 70px;
  text-align: justify;
}

.about-me a {
  color: var(--link);
  text-decoration: none;
}

@media(max-width: 768px) {
  .hero {
    display: block;
    margin-top: 0px;
  }

  .hero img {
    display: none;
  }
}
