header {
  background-color: var(--bg-header);
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar p {
  color: var(--bright);
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  color: var(--muted);
  text-decoration: none;
}

nav a:hover {
  color: white;
}
