#panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
}

.social-row {
  font-size: 40px;
}

.social-row li a {
  margin: 0 4px;
}

.social-row li a fa-icon {
  color: var(--bright);
}

ul li {
  list-style: none;
  display: inline;
}
